{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{catalog_name}} {% endblock %}

{% block content %}
<style>
    .link {
        transition: 300ms ease-in;
    }
    .link:hover {
        transform: scale(1.04);
        background-color: rgba(51, 51, 51, 0.174);
    }
</style>
    <h2 class="text-dark" style="text-align: center;">{{catalog_name}}</h2>
    <div class="container d-flex flex-wrap align-items-center justify-content-around">
        {% for product in products %}
            <a class="card mt-4 text-dark link" style="width: 18rem; text-decoration: none; cursor: pointer;" href="{% url 'ProductDetails' product.catalog_name.id product.id %}">
                <img class="card-img-top" style=" height: 200px; object-fit: cover;" src="{{product.product_image.url}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{product.product_name}}</p>
                    <strong>{{product.catalog_name.currency}}{{product.product_price}}</strong>
                </div>
            </a>
        {% endfor %}
    </div>
    <!-- <strong>Author: {{author}}</strong> -->
{% endblock %}